[Desktop Entry]
Name=Awesome Monitor
Comment=Customizable system monitor, which can be easily extended. Includes visual editor for configuration

Icon=plasmoidIcon
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Adam Obrtel
X-KDE-PluginInfo-Email=kwan@gmail.com
X-KDE-PluginInfo-Name=org.kwan.AwesomeMonitor
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
